In [62]:
import nbformat as nb

In [64]:
import pandas as pd
df = pd.DataFrame({
    'param1': [1, 2, 3],
    'param2': [5, 6, 7]
    
})
df

   param1  param2
0       1       5
1       2       6
2       3       7

In [65]:
df.T

        0  1  2
param1  1  2  3
param2  5  6  7

In [66]:
df.T[1].index, df.T[1].values

(Index(['param1', 'param2'], dtype='object'), array([2, 6], dtype=int64))

In [67]:
counter = 0
insert_text = ''
for i, j in zip(df.T[1].index, df.T[1].values):
    insert_text = insert_text + f'{i} = {j}\n'
print(f'Text:\n{insert_text}')
#     print(counter)
# counter += 1

Text:
param1 = 2
param2 = 6

In [73]:
for k in df.T.columns:
    insert_text = ''
    for i, j in zip(df.T[k].index, df.T[k].values):
        insert_text = insert_text + f'{i} = {j}\n'
    print(f'Text:\n{insert_text}')
    notebook = nb.read('test.ipynb', as_version=4)
    new_cell = nb.v4.new_code_cell(insert_text)
    notebook['cells'].insert(0, new_cell)
    nb.write(notebook, f'test_{k}.ipynb')
    del temp

Text:
param1 = 1
param2 = 5

Text:
param1 = 2
param2 = 6

Text:
param1 = 3
param2 = 7